body {
  background-color: #2d2d2d;
}

.is-centered {
  text-align: center;
}

.navbar, .navbar-menu {
  background-color: #303030 !important;
}

.navbar-burger > span {
  color: #e2e2e2;
}

.nav-icon {
  font-size: 30px;
  padding: 10px !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#70ffea), to(#6eff5b));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link {
  color: #e2e2e2 !important;
  font-size: 15px;
  padding: .75rem !important;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.nav-link:hover {
  color: #6eff5b !important;
  background-color: #303030 !important;
}

#header {
  padding-top: 5%;
}

.header-span-block-left {
  margin-left: 20%;
}

@media (max-width: 426px) {
  .header-span-block-left {
    text-align: right;
    margin-right: 10%;
  }
}

@media (max-width: 426px) {
  .header-span-block-center {
    text-align: right;
    margin-right: 10%;
  }
}

.header-span-block-right {
  margin-right: 20%;
}

@media (max-width: 426px) {
  .header-span-block-right {
    margin-right: 10%;
  }
}

.header-span {
  color: #e2e2e2;
  font-size: 30px;
}

.header-span-color-left {
  color: #70ffea;
  font-size: 40px;
  -webkit-text-decoration-line: overline;
          text-decoration-line: overline;
  -webkit-text-decoration-color: #70ffea;
          text-decoration-color: #70ffea;
}

.header-span-color-center {
  color: #f5ff65;
  font-size: 40px;
  -webkit-text-decoration-line: overline;
          text-decoration-line: overline;
  -webkit-text-decoration-color: #f5ff65;
          text-decoration-color: #f5ff65;
}

.header-span-color-right {
  color: #6eff5b;
  font-size: 40px;
  -webkit-text-decoration-line: overline;
          text-decoration-line: overline;
  -webkit-text-decoration-color: #6eff5b;
          text-decoration-color: #6eff5b;
}

.header-btn {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin-left: 5%;
  margin-bottom: 5%;
  color: #e2e2e2 !important;
  border-color: #e2e2e2 !important;
}

.header-btn:hover {
  border-color: #f5ff65 !important;
  color: #f5ff65 !important;
  background-color: #2d2d2d !important;
}

.main-hero {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #70ffea), color-stop(#f5ff65), to(#6eff5b));
  background: linear-gradient(0.25turn, #70ffea 40%, #f5ff65, #6eff5b);
}

@media (max-width: 1023px) {
  .main-hero {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #70ffea), color-stop(#f5ff65), to(#6eff5b));
    background: linear-gradient(0.5turn, #70ffea 50%, #f5ff65, #6eff5b);
  }
}

.main-photo {
  height: 250px;
  border-radius: 10px;
}

.main-btn {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin: 1rem 0 1rem 0;
  color: #2d2d2d !important;
  border-color: #2d2d2d !important;
}

.main-btn:hover {
  background-color: #2d2d2d !important;
  color: #e2e2e2 !important;
}

.main-icon {
  font-size: 20px;
  padding: 10px;
  color: #2d2d2d;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main-icon:hover {
  color: #f5ff65;
}

#projects {
  padding: 5%;
}

.skill-message {
  height: 100%;
  background-color: #e2e2e2 !important;
}

.skill-message-header {
  color: #6eff5b !important;
  background-color: #4f4f4f !important;
}

.skill-message-body {
  background-color: #e2e2e2 !important;
}

#skill {
  padding: 5%;
}

.projects-message {
  height: 100%;
  background-color: #e2e2e2 !important;
}

.projects-message-header {
  color: #70ffea !important;
  background-color: #4f4f4f !important;
}

.projects-message-body {
  background-color: #e2e2e2 !important;
}

.projects-btn {
  margin: 0 0 24px 24px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: #2d2d2d !important;
  border-color: #2d2d2d !important;
}

.projects-btn:hover {
  border-color: #f5ff65 !important;
  color: #f5ff65 !important;
  background-color: #e2e2e2 !important;
}

.footer {
  background-color: #303030 !important;
}

.footer-text {
  margin: 10% 0 5% 0;
  font-size: large;
}

.footer-span {
  color: #e2e2e2 !important;
}

.footer-name {
  background: -webkit-gradient(linear, left top, left bottom, from(#70ffea), to(#6eff5b));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-technos {
  margin: 5% 0 10% 0;
}

.footer-logo {
  font-size: 20px;
  padding: 10px;
  color: #70ffea;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.footer-logo:hover {
  color: #6eff5b;
}

.footer-bulma {
  font-size: initial;
}
/*# sourceMappingURL=index.css.map */