
@keyframes translate
  100%
    transform: translateX(200px)

@keyframes scale
  100%
    transform: scale(1.4)

body
    font-family: 'Muli', sans-serif
.hero-container
    z-index: 1 // Bubble see
.hero-name
    @media (max-width: 1023px)
        padding-bottom: 4rem
.col-translate
    @media (max-width: 768px)
        height: 60px !important