
@keyframes translate
  100%
    transform: translate(100px, 100px)

@keyframes scale
  100%
    transform: scale(1.4)


// blue light #04a6d7
// blue #209cee
// blue dark #3287f5 
// pink #EC6EAD 
// white #f5f5f5

body
    font-family: 'Muli', sans-serif
.hero-container
    z-index: 1 // Bubble see
.hero-name
    @media (max-width: 1023px)
        padding-bottom: 4rem