table,
tr,
td {
  border-spacing: 0px;
}

.planning td {
  width: 20%;
  border-right: 1px solid #9e50c3;
  cursor: pointer;
}
/* 
.planning td:hover {
  background-color: #efe7f3;
} */

.planning tr:nth-child(1),
tr:nth-child(3) {
  height: 40%;
}

.planning tr:nth-child(2) {
  height: 20%;
}

.planning tr:nth-child(2) td,
tr:nth-child(1) td {
  border-bottom: 1px solid #d6d7e1;
}

.planning td:last-child {
  border-right: none;
}

/* Style des slots */
.slot {
  position: absolute;
  border-radius: 4px;
  border-radius: 0.5vw;
  opacity: 0.7;
}

.slot:hover {
  cursor: pointer;
  opacity: 1;
  border: solid 2px gray;
}

.selected {
  background-color: #00af0f !important;
opacity: 1;
}
.selected:hover {
  opacity: 0.7;
}

.booked {
  background-color: gray !important;
  opacity: 1 !important;
  cursor: not-allowed !important;
  border: none !important;  
}

@media (max-width: 679px) {
	.ifnarrow{display:none;}
  .ifwide{display:auto;}
  .mobileInvisibility { display:none; }
}
@media (min-width: 680px) and (max-width: 959px) {
	.ifnarrow{display:none;}
	.ifwide{display:auto;}
}
@media (min-width: 960px) {
	.ifnarrow{display:none;}
	.ifwide{display:auto;}
}