
$black: #2d2d2d
$black-secondary: #303030
$black-third: #4f4f4f
$white: #e2e2e2

$color-primary: #7AA1D2
$color-secondary: #DBD4B4
$color-third: #d9a7c7

$background-icon: -webkit-gradient(linear, left top, left bottom, from($color-primary), to($color-secondary))
$background-banner: linear-gradient(0.25turn, $color-primary, $color-secondary)
$background-banner-mobile: linear-gradient(0.50turn, $color-primary, $color-secondary)

$transition: .2s ease-in-out

$header-span-margin: 20%
$header-span-margin-mobile: 10%

$message-margin: 10%

$footer-margin: 10%

body
    background-color: $black
.is-centered
    text-align: center

.navbar, .navbar-menu
    background-color: $black-secondary !important
.navbar-burger > span
    color: $white
.nav-icon
    font-size: 30px
    padding: 10px !important
    background: $background-icon
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
.nav-link
    color: $white !important
    font-size: 15px
    padding: .75rem !important
    transition: $transition
    &:hover
        color: $color-secondary !important
        background-color: $black-secondary !important

#header
    padding-top: 5%
.header-span-block-left
    margin-left: $header-span-margin
    @media (max-width: 426px)
        text-align: right
        margin-right: $header-span-margin-mobile
.header-span-block-center
    @media (max-width: 426px)
        text-align: right
        margin-right: $header-span-margin-mobile
.header-span-block-right
    margin-right: $header-span-margin
    @media (max-width: 426px)
        margin-right: $header-span-margin-mobile    
.header-span
    color: $white
    font-size: 30px
.header-span-color-left
    color: $color-primary
    font-size: 40px
    text-decoration-line: overline
    text-decoration-color: $color-primary
.header-span-color-center
    color: $color-third
    font-size: 40px
    text-decoration-line: overline
    text-decoration-color: $color-third
.header-span-color-right
    color: $color-secondary
    font-size: 40px
    text-decoration-line: overline
    text-decoration-color: $color-secondary
.header-btn
    transition: $transition
    margin-left: $header-span-margin-mobile / 2
    margin-bottom: $header-span-margin-mobile /2 
    color: $white !important
    border-color: $white !important
    &:hover
        border-color: $color-third !important
        color: $color-third !important
        background-color: $black !important

.main-hero
    background: $background-banner 
    @media (max-width: 1023px)
        background: $background-banner-mobile
.main-photo
    height: 250px
    border-radius: 10px
.main-btn
    transition: $transition
    margin: 1rem 0 1rem 0
    color: $black !important
    border-color: $black !important
    &:hover
        background-color: $black !important
        color: $white !important
.main-icon
    font-size: 20px
    padding: 10px
    color: $black
    transition: $transition
    &:hover
        color: $color-third


#projects
    padding: 5%
.skill-message
    height: 100%
    background-color: $white !important
.skill-message-header
    color: $color-secondary !important
    background-color: $black-third !important
.skill-message-body
    background-color: $white !important

#skill
    padding: 5%
.projects-message
    height: 100%
    background-color: $white !important
.projects-message-header
    color: $color-primary !important
    background-color: $black-third !important
.projects-message-body
    background-color: $white !important
.projects-btn
    transition: $transition
    color: $black !important
    border-color: $black !important
    &:hover
        border-color: $color-third !important
        color: $color-third !important
        background-color: $white !important
.projects-btn-position
    margin-bottom: 1.25rem
.footer
    background-color: $black-secondary !important
.footer-text
    margin: $footer-margin 0 $footer-margin/2 0
    font-size: large
.footer-span
    color: $white !important
.footer-name
    background: $background-icon
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
.footer-technos
    margin: $footer-margin/2 0 $footer-margin 0
.footer-logo
    font-size: 20px
    padding: 10px
    color: $color-primary
    transition: $transition
    &:hover
        color: $color-secondary
.footer-bulma
    font-size: initial